$brownContrast: #61380B;

.finder {
	width: 100%;
	text-align: center;
	display: block;

	.finder-bar {
			width: 400px;
			background: #A9D0F5;
			text-align: center;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
			display: inline-block;
			border: solid;
			border-width: 2px;
			border-color: $brownContrast;

			span {
				display: inline;
				font-size: 20px;
				color: $brownContrast;
				font-weight: bold;
				width: 100px;
			}

			input.repository-name {
				display: inline;
				border-radius: 5px;
				font-size: 20px;
				width: 80%;
			}
	}
}